.horse{
	width: 150px;
	height: 150px;
}

.engineName{
	color: #333;
	font-family: 'Raleway', sans-serif;	
}

.topLine{
	background-color: #0099CC;
	height: 5px;
	margin-bottom:100px;
}

.tableRow{
	padding: 50px;
}

.plus{
	font-size: 18pt;
	color: green;
}

